.promo {

  &__info {
    @include section;
  }

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin-bottom: 0.75rem;
  }

  &__text {
    @include text;
    max-width: 60ch;
    margin-bottom: 1.5rem;
  }

  &__media {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
      display: block;
      content: '';
      padding-bottom: 22.5rem;

      @media (min-width: $screen-sm) {
        padding-bottom: (8 / 16) * 100%;
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.2);
    transform-origin: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}