.news {
  @include section;

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 2.25rem 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }
}