mixin news-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' news-card--' + modsList[i].trim();
      }
    }

  article.news-card(class=allMods)&attributes(attributes)
    a.news-card__media(href='/')
      .news-card__media-wrap
        img(src=props.media, alt='')
    time.news-card__date(datetime='2021-04-22')!= props.date
    h2.news-card__title
      a(href='/')!= props.title
    .news-card__intro!= props.intro
