.news-card {

  &__media {
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 0.75rem;
    display: block;

    &::before {
      content: '';
      display: block;
      padding-bottom: (9 / 16) * 100%;
    }

    &:hover {

      img {
        transform: scale(1.05);
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 500ms $transition-t;
    }
  }

  &__date {
    font-size: 0.6em;
    line-height: 1.5em;
    font-weight: 500;
    opacity: 0.5;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;

    a {
      text-decoration: none;
      color: currentColor;
    }

    @media (min-width: $screen-sm) {
      font-size: ms(1);
      line-height: 1.2em;
    }
  }

  &__intro {
    @include text;
  }
}