.who-we-are {
  @include section;
  background-color: $bg-c;
  color: $text-c;

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 1rem;
      grid-template: 'info media' / 6fr 6fr;
    }

    @media (min-width: $screen-md) {
      gap: 1rem;
      grid-template: 'info . media' / 6fr 1fr 5fr;
    }
  }

  &__info {

    @media (min-width: $screen-sm) {
      grid-area: info;
      align-self: center;
    }
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    @include text;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__media {
    display: none;
    position: relative;
    overflow: hidden;
    z-index: 1;

    @media (min-width: $screen-sm) {
      display: block;
      grid-area: media;
      align-self: center;

      &::before {
        display: block;
        content: '';
        padding-bottom: (4 / 3) * 100%;
      }
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.2);
    transform-origin: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}