.direction {
  position: relative;
  display: block;
  text-decoration: none;
  background-color: $bg-c--dark;
  color: $text-c--light;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: '';
    display: block;
    padding-bottom: 270px;

    @media (min-width: $screen-xs) {
      padding-bottom: (9 / 16) * 100%;
    }
  }

  &:hover {

    .direction__media-wrap img {
      transform: scale(1.05);
    }

    .direction__icon {
      transform: translateX(5px);
    }
  }

  &__info {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;

    &::before {
      position: absolute;
      content: '';
      right: 0;
      bottom: 100%;
      left: 0;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }

    @media (min-width: $screen-sm) {
      margin: 0 1.5rem;
      padding: 1.5rem 0;
    }

    @media (min-width: $screen-md) {
      margin: 0 2.25rem;
    }
  }

  &__title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 500;
    margin: 0;
  }

  &__icon {
    transition: 0.5s $transition-t;

    svg {
      stroke: currentColor;
    }
  }

  &__media {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top right, hsla(165%,29,3,0.5) 0%, hsla(165%,29,3,0.5) 100%);
      z-index: 2;
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.75s $transition-t;
    }
  }

  &--vertical {

    &::before {

      @media (min-width: $screen-xs) {
        padding-bottom: (4 / 3) * 100%;
      }
    }
  }
}