mixin direction(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' direction--' + modsList[i].trim();
      }
    }

  a.direction(href='/', class=allMods)&attributes(attributes)
    .direction__info
      h3.direction__title!= props.title
      span.direction__icon
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 10', width='16', height='10')
          path(d='M0 5h15m0 0l-4-4m4 4l-4 4')
    .direction__media
      .direction__media-wrap
        img(src=props.media , alt='')
