mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__container
      a.page-header__logo(href='/')
        img.page-header__main-logo(src='img/logo.svg', alt='', width='115', height='120')
        img.page-header__small-logo(src='img/logo--small.svg', alt='', width='173', height='25')
      nav.page-header__nav
        ul.page-header__nav-list
          li.page-header__nav-item
            a(href='/') Для людей
          li.page-header__nav-item
            a(href='/') Для животных
          li.page-header__nav-item
            a(href='/') Новости
          li.page-header__nav-item
            a(href='/') Доставка и оплата
          li.page-header__nav-item
            a(href='/') О компании
          li.page-header__nav-item
            a(href='/') Контакты
      +burger().page-header__burger
      a.page-header__phone(href='tel:+74957443911') +7 (495) 744-39-11
