.page-header {
  padding: 1rem;
  position: relative;

  @media (max-width: ($screen-sm - 1px)) {

    &::before {
      position: absolute;
      content: '';
      top: 100%;
      right: 0;
      left: 0;
      height: 1px;
      background-color: currentColor;
      opacity: 0.125;
    }
  }

  &__container {
    @include container;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: auto;
  }

  &__main-logo {
    display: none;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__small-logo {
    display: block;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__nav {

    @media (max-width: ($screen-sm - 1px)) {
      position: absolute;
      z-index: 1000;
      top: 100%;
      right: 0.25rem;
      max-width: 12.5rem;
      padding: 1rem;
      transform: scale(0.95);
      transition: 250ms ease-out;
      background-color: #fff;
      box-shadow:
        0 30px 60px -12px rgba($text-c, 0.15),
        0 18px 36px -18px rgba(0, 0, 0, 0.3);
      pointer-events: none;
      opacity: 0;
      transform-origin: 100% 0;
      text-align: right;
      width: 100%;
      max-width: 12.5rem;

      &--is-open {
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-sm) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__nav-item {
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;

    @media (max-width: ($screen-sm - 1px)) {

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    @media (min-width: $screen-sm) {

      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    a {
      display: block;
      color: currentColor;
      text-decoration: none;
      position: relative;

      &::before {
        position: absolute;
        content: '';
        top: -0.5em;
        right: -0.5em;
        bottom: -0.5em;
        left: -0.5em;
      }

      &:hover {
        color: $primary-c;
        transition: 250ms $transition-t;
      }
    }
  }

  &__burger {

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__phone {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem;
    margin: 0;
    overflow: hidden;
    font-family: $font-f;
    font-size: ms(-1);
    font-weight: 500;
    line-height: 1.45em;
    color: $text-c;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.01em;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    border: 1px solid $primary-c;
    border-radius: 0;
    transition: all 0.5s $transition-t;
    display: none;

    @media (min-width: $screen-md) {
      display: inline-flex;
      margin-left: 2.25rem;
    }
  }
}