.categories {
  @include section;

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin-bottom: 0.5rem;
  }

  &__desc {
    @include text;
    max-width: 75ch;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
  }
}