.directions {
  @include section;
  background-color: $bg-c--shade;
  color: $text-c;

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;

    @media (max-width: ($screen-xs - 1px)) {

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
}