mixin btn(text, href, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods.trim() + ' btn--' + modsList[i].trim();
      }
    }

  if (href)
    a.btn(href=href, class=allMods)&attributes(attributes)
      span!=text
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 10', width='16', height='10')
        path(d='M0 5h15m0 0l-4-4m4 4l-4 4')

  else
    button.btn(class=allMods)&attributes(attributes)
      span!= text
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 10', width='16', height='10')
        path(d='M0 5h15m0 0l-4-4m4 4l-4 4')