.btn {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  margin: 0;
  overflow: hidden;
  font-family: $font-f;
  font-size: ms(-1);
  font-weight: 500;
  line-height: 1.45em;
  color: $text-c--light;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.01em;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background:
    linear-gradient(
      to right bottom,
      hsl(134%,60,30),
      hsl(95%,49,52));
  background-size: 300% 300%;
  background-position: 100% 100%;
  border: none;
  border-radius: 0;
  transition: all 0.5s $transition-t;

  span {
    display: block;
    margin-right: 1rem;
  }

  svg {
    display: block;
    stroke: currentColor;
    transition: all 0.5s $transition-t;
  }

  &:hover {
    background-position: 0% 0%;

    svg {
      transform: translateX(5px);
    }
  }
}
