.seo {
  @include section;
  background-color: $bg-c;
  color: $text-c;

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    @include text;
  }

  &--shade {
    background-color: $bg-c--shade;
  }
}