.catalog {
  @include section;

  &__container {
    @include container;
  }

  &__title {
    @include title;
  }

  &__section {

    &:not(:last-child) {
      margin-bottom: 2.25rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 4.5rem;
      }
    }
  }

  &__section-intro {
    position: relative;
    height: 10rem;
    background-color: $bg-c--dark;
    color: $text-c--light;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 1rem;

    @media (min-width: $screen-sm) {
      height: 15rem;
    }
  }

  &__section-intro-title {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    font-size: ms(1);
    line-height: 1.1em;
    font-weight: 500;
    letter-spacing: -0.01em;
    z-index: 2;
    margin: 0;

    @media (min-width: $screen-sm) {
      padding: 2.25rem;
    }
  }

  &__section-intro-media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__section-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    @media (min-width: $screen-sm) {
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-md) {
      gap: 1rem;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
    }
  }

  &__section-item {
    margin: 0;
    padding: 0;
  }
}