extends ../pug/layout.pug

block meta
  - var title = 'Catalog';
  title= title
  meta(name='description', content='')

block content
  .catalog
    .catalog__container
      h1.catalog__title Товары для здоровья
      section.catalog__section
        .catalog__section-intro
          h2.catalog__section-intro-title Название
          .catalog__section-intro-media
            img(src='https://images.unsplash.com/photo-1525904097878-94fb15835963?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80', alt='')
        ul.catalog__section-list
          li.catalog__section-item
            +product-card()
          li.catalog__section-item
            +product-card()
          li.catalog__section-item
            +product-card()
      section.catalog__section
        .catalog__section-intro
          h2.catalog__section-intro-title Название
          .catalog__section-intro-media
            img(src='https://images.unsplash.com/photo-1498603911539-01ce6c9ad8f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80', alt='')
        ul.catalog__section-list
          li.catalog__section-item
            +product-card()
          li.catalog__section-item
            +product-card()
          li.catalog__section-item
            +product-card()
          li.catalog__section-item
            +product-card()
          li.catalog__section-item
            +product-card()
          li.catalog__section-item
            +product-card()

  +seo('shade')