extends ../pug/layout.pug

block meta
  - var title = 'Categories';
  title= title
  meta(name='description', content='')

block content
  section.categories
    .categories__container
      h1.categories__title Добавки для людей
      p.categories__desc В нашем каталоге вы всегда найдете необходимые препараты для вашего здоровья.
      ul.categories__list
        li.categories__item
          +direction({
            title: 'Товары для здоровья',
            media: 'https://images.unsplash.com/photo-1524638067-feba7e8ed70f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80',
            mods: 'vertical'
          })
        li.categories__item
          +direction({
            title: 'Пищевые добавки',
            media: 'https://images.unsplash.com/photo-1530365928022-14ef8d574b65?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1612&q=80',
            mods: 'vertical'
          })
        li.categories__item
          +direction({
            title: 'Пищевые добавки',
            media: 'https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1100&q=80',
            mods: 'vertical'
          })

  +advantages()

  section.certificates
    .certificates__container
      span.certificates__subtitle Наши сертификаты
      h2.certificates__title Наша продукция имеет все необходимые сертификаты
      .certificates__slider
        .swiper-wrapper
          .swiper-slide
            a.certificates__item(href='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', data-fancybox='certificates')
              img(src='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', alt='')
          .swiper-slide
            a.certificates__item(href='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', data-fancybox='certificates')
              img(src='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', alt='')
          .swiper-slide
            a.certificates__item(href='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', data-fancybox='certificates')
              img(src='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', alt='')
          .swiper-slide
            a.certificates__item(href='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', data-fancybox='certificates')
              img(src='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', alt='')
          .swiper-slide
            a.certificates__item(href='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', data-fancybox='certificates')
              img(src='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', alt='')
          .swiper-slide
            a.certificates__item(href='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', data-fancybox='certificates')
              img(src='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', alt='')
          .swiper-slide
            a.certificates__item(href='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', data-fancybox='certificates')
              img(src='https://media.gettyimages.com/vectors/certificate-template-certificate-of-excellence-design-diploma-design-vector-id878444446?s=2048x2048', alt='')
      +slider-progressbar().certificates__slider-progressbar

  +seo()