extends ../pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block content
  section.contacts
    .contacts__container
      .contacts__info
        h1.contacts__title Контакты
        ul.contacts__list
          li.contacts__item
            h2.contacts__subtitle Телефон
            a(href='tel:+74957443911') +7 (495) 744-39-11
          li.contacts__item
            h2.contacts__subtitle E-mail
            a(href='mailto:biotech.aik@gmail.com') biotech.aik@gmail.com
          li.contacts__item
            h2.contacts__subtitle Адрес
            address Москва, бульвар им. Аршавина, 13
          li.contacts__item
            h2.contacts__subtitle Режим работы
            span Пн-Сб с 9:30 до 18:55
          li.contacts__item
            ul.contacts__social-list
              li.contacts__social-item
                a.contacts__social-link(href='/', rel='noopener')
                  svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='16', height='16')
                    path(d='M14 7c0-3.85-3.15-7-7-7S0 3.15 0 7c0 3.5 2.5375 6.3875 5.8625 6.9125v-4.9h-1.75V7h1.75V5.425c0-1.75 1.05-2.7125 2.625-2.7125.7875 0 1.575.175 1.575.175v1.75h-.875c-.875 0-1.1375.525-1.1375 1.05V7h1.925l-.35 2.0125H7.9625V14C11.4625 13.475 14 10.5 14 7z')
              li.contacts__social-item
                a.contacts__social-link(href='/', rel='noopener')
                  svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 13', width='16', height='13')
                    path(d='M5.03186 13c6.03804 0 9.33994-5.00101 9.33994-9.33743 0-.14209-.0029-.28345-.0094-.42426.6409-.46319 1.1981-1.04135 1.6376-1.6992-.5882.26125-1.2211.43717-1.8851.51649.6777-.40624 1.1981-1.04918 1.4436-1.815456-.6344.376045-1.3368.6493-2.0843.796666C12.8749.398967 12.0218 0 11.0779 0 9.26483 0 7.79464 1.46979 7.79464 3.28143c0 .25761.02893.50794.08498.74827-2.72802-.137-5.14723-1.44305-6.7661-3.428611C.831273 1.08593.668767 1.64954.668767 2.25044c0 1.13851.579603 2.14366 1.460913 2.73183-.53847-.01656-1.04437-.16465-1.486754-.41061-.000728.01364-.000728.02747-.000728.04184 0 1.5895 1.131722 2.91648 2.633582 3.21721-.2757.07514-.56577.11552-.86531.11552-.21146 0-.41709-.0211-.61708-.05912.41782 1.30369 1.62979 2.25259 3.06668 2.27939-1.12371.8803-2.53913 1.4048-4.077021 1.4048-.264777 0-.526097-.0151-.783049-.0455C1.45273 12.4566 3.17769 13 5.03186 13z')
              li.contacts__social-item
                a.contacts__social-link(href='/', rel='noopener')
                  svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 16 12', width='16', height='12')
                    path(d='M15.6 1.82143c-.2-.75-.7-1.285716-1.4-1.500001C13 2e-7 7.89999 0 7.89999 0S2.90001 2e-7 1.60001.321429C.900006.535714.399997 1.07143.199997 1.82143-.00000305 3.21429 0 6 0 6s.00000304 2.78571.300003 4.1786c.2.75.699994 1.2857 1.399997 1.5C2.9 12 8 12 8 12s5 0 6.3-.3214c.7-.2143 1.2-.75 1.4-1.5C16 8.78571 16 6 16 6s0-2.78571-.4-4.17857zm-9.20001 6.75V3.42857L10.6 6 6.39999 8.57143z')
              li.contacts__social-item
                a.contacts__social-link(href='/', rel='noopener')
                  svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 14 14', width='14', height='14')
                    path(d='M7 1.26506h2.86747c.67473 0 1.01203.16868 1.26503.25301.3374.16868.5904.25302.8434.50603.253.25301.4217.50602.506.84337.0844.25301.1687.59036.253 1.26506v5.73494c0 .67473-.1686 1.01203-.253 1.26503-.1686.3374-.253.5904-.506.8434s-.506.4217-.8434.506c-.253.0844-.5903.1687-1.26503.253H4.13253c-.6747 0-1.01205-.1686-1.26506-.253-.33735-.1686-.59036-.253-.84337-.506-.25301-.253-.42169-.506-.50603-.8434-.08433-.253-.16867-.5903-.25301-1.26503V7 4.13253c0-.6747.16868-1.01205.25301-1.26506.16868-.33735.25302-.59036.50603-.84337.25301-.25301.50602-.42169.84337-.50603.25301-.08433.59036-.16867 1.26506-.25301H7zM7 0H4.13253c-.75904 0-1.26506.168675-1.68675.33735-.42168.168675-.84337.421687-1.26506.84337-.421683.42169-.590358.75904-.84337 1.26506C.168675 2.86747.0843374 3.37349 0 4.13253v5.73494c0 .75903.168675 1.26503.33735 1.68673.168675.4217.421687.8434.84337 1.2651.42169.4217.75904.5903 1.26506.8434.42169.1686.92771.253 1.68675.3373h5.73494c.75903 0 1.26503-.1687 1.68673-.3373.4217-.1687.8434-.4217 1.2651-.8434.4217-.4217.5903-.7591.8434-1.2651.1686-.4217.253-.9277.3373-1.68673V7 4.13253c0-.75904-.1687-1.26506-.3373-1.68675-.1687-.42168-.4217-.84337-.8434-1.26506-.4217-.421683-.7591-.590358-1.2651-.84337C11.1325.168675 10.6265.0843374 9.86747 0H7z')
                    path(d='M7 3.37349C4.9759 3.37349 3.37349 4.9759 3.37349 7c0 2.0241 1.60241 3.6265 3.62651 3.6265 2.0241 0 3.6265-1.6024 3.6265-3.6265S9.0241 3.37349 7 3.37349zm0 5.98796C5.73494 9.36145 4.63855 8.3494 4.63855 7 4.63855 5.73494 5.6506 4.63855 7 4.63855 8.26506 4.63855 9.36145 5.6506 9.36145 7c0 1.26506-1.09639 2.36145-2.36145 2.36145zM10.7108 4.13253c.4658 0 .8434-.37759.8434-.84337 0-.46578-.3776-.84338-.8434-.84338-.4657 0-.84333.3776-.84333.84338s.37763.84337.84333.84337z')
      .contacts__media
        .contacts__media-wrap
          img.rellax(src='https://images.unsplash.com/photo-1518152006812-edab29b069ac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80', alt='', data-rellax-speed='-2', data-rellax-percentage='0.5')

  .map
    img(src='img/map.jpg', alt='')