extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  section.promo
    .promo__info
      .promo__container
        h1.promo__title Nescio brains zombies sicut malus putrid horror
        .promo__text
          p Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
        +btn('Some words', '#get-a-call-modal')(data-fancybox='')
    .promo__media
      .promo__media-wrap
        img.rellax(src='https://images.unsplash.com/photo-1517142089942-ba376ce32a2e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80', alt='', data-rellax-speed='-2', data-rellax-percentage='0.5')

  section.who-we-are
    .who-we-are__container
      .who-we-are__info
        span.who-we-are__subtitle Кто мы
        h2.who-we-are__title Продажа натуральных пищевых добавок и продуктов для здоровья
        .who-we-are__text
          p Интернет-магазин был создан для объединения продуктов с основным направлением – бады (витаминно-минеральные комплексы, фитопродукты, нутрицевтики, пищевые биодобавки, пептиды, травяные сборы).
        +btn('Some words')
      .who-we-are__media
        .who-we-are__media-wrap
          img.rellax(src='https://images.unsplash.com/photo-1517278862943-719c3d4315b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80', alt='', data-rellax-speed='-2', data-rellax-percentage='0.5')

  section.directions
    .directions__container
      h2.directions__title Каталог
      ul.directions__list
        li.directions__item
          +direction({
            title: 'Для людей',
            media: 'https://images.unsplash.com/photo-1600881333168-2ef49b341f30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=668&q=80'
          })
        li.directions__item
          +direction({
            title: 'Для животных',
            media: 'https://images.unsplash.com/photo-1601758177266-bc599de87707?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80'
          })

  +advantages()
  +seo('shade')