extends ../pug/layout.pug

block meta
  - var title = 'News';
  title= title
  meta(name='description', content='')

block content
  section.news
    .news__container
      h1.news__title Новости
      ul.news__list
        li.news__item
          +news-card({
            media: 'https://images.unsplash.com/photo-1619078288619-0884f8bb9c71?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80',
            date: 'April, 7',
            title: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra',
            intro: 'Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro...'
          })
        li.news__item
          +news-card({
            media: 'https://images.unsplash.com/photo-1585399000684-d2f72660f092?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1651&q=80',
            date: 'April, 7',
            title: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra',
            intro: 'Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro...'
          })
        li.news__item
          +news-card({
            media: 'https://images.unsplash.com/photo-1619045788850-2f696952ecc7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80',
            date: 'April, 7',
            title: 'Hi mindless mortuis soulless creaturas, imo evil stalking monstra',
            intro: 'Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro...'
          })