extends ../pug/layout.pug

block meta
  - var title = 'Product';
  title= title
  meta(name='description', content='')

block content
  .product
    .product__container
      .product__content
        .product__gallery
          .product__gallery-main.swiper-container
            .swiper-wrapper
              .swiper-slide
                .product__gallery-main-slide
                  img(src='img/product-photo-example.png', alt='', width='280', height='375')
              .swiper-slide
                .product__gallery-main-slide
                  img(src='img/product-photo-example.png', alt='', width='280', height='375')
              .swiper-slide
                .product__gallery-main-slide
                  img(src='img/product-photo-example.png', alt='', width='280', height='375')
          .product__gallery-thumbs.swiper-container
            .swiper-wrapper
              .product__gallery-thumbs-slide.swiper-slide
                img(src='img/product-photo-example.png', alt='', width='50', height='66')
              .product__gallery-thumbs-slide.swiper-slide
                img(src='img/product-photo-example.png', alt='', width='50', height='66')
              .product__gallery-thumbs-slide.swiper-slide
                img(src='img/product-photo-example.png', alt='', width='50', height='66')
          .product__gallery-progressbar-wrap
            +slider-progressbar().product__gallery-progressbar
        .product__info
          h1.product__title Название товара
          .product__price 14 999 ₽
          .product__desc
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor.
          .product__features
            h3.product__features-title Состав
            dl.product__features-list
              .product__feature
                dt.product__feature-term SKU
                dd.product__feature-desc 053
              .product__feature
                dt.product__feature-term Category
                dd.product__feature-desc Veggies
              .product__feature
                dt.product__feature-term Tag
                dd.product__feature-desc Plants
          +btn('Заказать', '#get-a-call-modal')(data-fancybox='')

      .product__tabs
        ul.product__tabs-nav-list
          li.product__tabs-nav-item
            a.product__tabs-nav-link.product__tabs-nav-link--active(href='#description') Описание
          li.product__tabs-nav-item
            a.product__tabs-nav-link(href='#spec') Способ применения
        .product__tabs-content-wrap
          .product__tabs-content.product__tabs-content--active(id='description') Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
          .product__tabs-content(id='spec') Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.

  section.special-offers
    .special-offers__container
      h2.special-offers__title Товары со скидкой
      .special-offers__slider
        .swiper-wrapper
          .swiper-slide
            +product-card()
          .swiper-slide
            +product-card()
          .swiper-slide
            +product-card()
          .swiper-slide
            +product-card()
          .swiper-slide
            +product-card()
          .swiper-slide
            +product-card()
      +slider-progressbar().special-offers__slider-progressbar