.product-card {
  background-color: $bg-c--shade;

  &__media {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      display: block;
      content: '';
      padding-bottom: (6 / 5) * 100%;
    }

    &:hover {

      img {
        transform: scale(1.05);
      }
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-origin: center;
      transition: 500ms $transition-t;
    }
  }

  &__info {
    padding: 0 1rem 1rem 1rem;

    @media (min-width: $screen-xs) {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      padding: 0 1.5rem;
    }
  }

  &__title {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    margin: 0;
  }

  &__price {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    display: block;
  }

  &__desc {
    display: none;
    font-size: 0.6em;
    font-weight: 400;
    opacity: 0.5;
    line-height: 1.45em;
    padding: 0 1rem 1rem 1rem;

    @media (min-width: $screen-xs) {
      display: block;
      padding: 0 1.5rem 1.5rem 1.5rem;
    }
  }
}