mixin product-card(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-card--' + modsList[i].trim();
      }
    }

  article.product-card(class=allMods)&attributes(attributes)
    a.product-card__media(href='/')
      img(src='img/product-photo-example.png', alt='')
    .product-card__info
      h3.product-card__title Название
      span.product-card__price 1 599 ₽
    .product-card__desc
      p De apocalypsi gorger omero undead survivor dictum mauris.
