.page-footer {
  background-color: $bg-c--dark;
  color: $text-c--light;
  padding: 2.25rem 1rem 1.5rem;

  @media (max-width: ($screen-sm - 1px)) {
    text-align: center;
  }

  @media (min-width: $screen-sm) {
    padding: 3rem 1.5rem;
  }

  &__container {
    @include container;
  }

  &__top {

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 1rem;
      grid-template:
        'logo logo logo'
        'catalog info contacts' / 4fr 4fr 4fr;
    }

    @media (min-width: $screen-sm) {
      gap: 1rem;
      grid-template: 'catalog info contacts logo' / 3fr 3fr 3fr 3fr;
    }
  }

  &__block {

    @media (max-width: ($screen-sm - 1px)) {
      margin-bottom: 2.25rem;
    }

    &--catalog {

      @media (min-width: $screen-xs) {
        grid-area: catalog;
      }
    }

    &--info {

      @media (min-width: $screen-xs) {
        grid-area: info;
      }
    }

    &--contacts {

      @media (min-width: $screen-xs) {
        grid-area: contacts;
      }
    }

    &--logo {

      @media (min-width: $screen-xs) {
        grid-area: logo;
      }

      @media (min-width: $screen-sm) {
        display: flex;
        flex-direction: column;
        margin-left: auto;
      }
    }
  }

  &__subtitle {
    font-size: ms(-2);
    font-weight: 700;
    line-height: 1.45em;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0.75rem;
    color: $primary-c;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.45em;

    &:not(:last-child) {
      margin-bottom: 0.25rem;
    }

    a {
      display: inline-block;
      color: currentColor;
      text-decoration: none;

      &:hover {
        color: $primary-c;
        transition: 250ms $transition-t;
      }
    }
  }

  &__bottom {
    margin-top: 3rem;

    @media (min-width: $screen-sm) {
      margin-top: 6rem;
    }
  }

  &__copyright {
    font-size: 0.6em;;
    line-height: 1.5em;
    opacity: 0.5;
  }
}