mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__container
      .page-footer__top
        .page-footer__block.page-footer__block--logo
          a.page-footer__logo(href='/')
            img(src='img/logo--bg-dark.svg', alt='', width='115', height='120')
        .page-footer__block.page-footer__block--catalog
          h3.page-footer__subtitle Каталог
          ul.page-footer__list
            li.page-footer__item
              a(href='/') Для людей
            li.page-footer__item
              a(href='/') Для животных
            li.page-footer__item
              a(href='/') Новости
        .page-footer__block.page-footer__block--info
          h3.page-footer__subtitle Информация
          ul.page-footer__list
            li.page-footer__item
              a(href='/') Доставка и оплата
            li.page-footer__item
              a(href='/') О компании
            li.page-footer__item
              a(href='/') Контакты
        .page-footer__block.page-footer__block--contacts
          h3.page-footer__subtitle Связаться
          ul.page-footer__list
            li.page-footer__item
              a(href='tel:+74957443911') +7 (495) 744-39-11
            li.page-footer__item
              a(href='mailto:biotech.aik@gmail.com') biotech.aik@gmail.com
      .page-footer__bottom
        span.page-footer__copyright © 2021 — Copyright