.contacts {
  @include section;

  &__container {
    @include container;

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 1rem;
      grid-template: 'media info' / 6fr 6fr;
    }

    @media (min-width: $screen-md) {
      display: grid;
      gap: 1rem;
      grid-template: 'media . info' / 6fr 1fr 5fr;
    }
  }

  &__info {

    @media (min-width: $screen-sm) {
      grid-area: info;
      align-self: center;
    }
  }

  &__title {
    @include title;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 1.5rem 1rem;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;

    a {
      color: currentColor;
      text-decoration: none;
    }
  }

  &__subtitle {
    font-size: ms(-1);
    font-weight: 700;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 0.5rem;
    color: $primary-c;
  }

  &__social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 1.5rem;
    margin-top: 0.75rem;

    &::before {
      position: absolute;
      content: '';
      bottom: 100%;
      left: 0;
      width: 3rem;
      height: 1px;
      background: $accent-g;
    }
  }

  &__social-item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__social-link {
    display: block;
    transition: 250ms $transition-t;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      top: -0.5em;
      right: -0.5em;
      bottom: -0.5em;
      left: -0.5em;
    }

    &:hover {
      color: $primary-c;
    }

    svg {
      display: block;
      fill: currentColor;
    }
  }

  &__media {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: none;

    &::before {
      display: block;
      content: '';
      padding-bottom: 100%;
    }

    @media (min-width: $screen-sm) {
      display: block;
      grid-area: media;
      align-self: center;
    }
  }

  &__media-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(1.3);
    transform-origin: center;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}