.map {
  width: 100%;
  height: 22.5rem;
  position: relative;

  @media (min-width: $screen-sm) {
    height: 30rem;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}