mixin advantages(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' advantages--' + modsList[i].trim();
      }
    }

  section.advantages(class=allMods)&attributes(attributes)
    .advantages__container
      span.advantages__subtitle Почему мы
      h2.advantages__title The voodoo sacerdos flesh eater, suscitat mortuos
      .advantages__slider
        .swiper-wrapper
          .swiper-slide
            figure.advantages__card
              .advantages__card-media
                img(src='img/advantage-first.svg', alt='', width='42', height='50')
              figcaption.advantages__card-caption
                h3.advantages__card-title The voodoo sacerdos flesh
                .advantages__card-desc
                  p Интернет-магазин был создан для объединения продуктов с основным направлением.
          .swiper-slide
            figure.advantages__card
              .advantages__card-media
                img(src='img/advantage-second.svg', alt='', width='50', height='48')
              figcaption.advantages__card-caption
                h3.advantages__card-title Summus brains sit​​, morbo maleficia
                .advantages__card-desc
                  p Интернет-магазин был создан для объединения продуктов с основным направлением.
          .swiper-slide
            figure.advantages__card
              .advantages__card-media
                img(src='img/advantage-third.svg', alt='', width='50', height='52')
              figcaption.advantages__card-caption
                h3.advantages__card-title Hi mindless mortuis soulless
                .advantages__card-desc
                  p Интернет-магазин был создан для объединения продуктов с основным направлением.
          .swiper-slide
            figure.advantages__card
              .advantages__card-media
                img(src='img/advantage-fourth.svg', alt='', width='46', height='46')
              figcaption.advantages__card-caption
                h3.advantages__card-title Gorger omero undead survivor
                .advantages__card-desc
                  p Интернет-магазин был создан для объединения продуктов с основным направлением.
      +slider-progressbar().advantages__slider-progressbar