.advantages {
  @include section;

  &__container {
    @include container;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;
  }

  &__slider {
    overflow: hidden;
  }

  &__card {
    background-color: $bg-c--shade;
    margin: 0;
    padding: 1rem;

    @media (min-width: $screen-sm) {
      padding: 1.5rem;
    }
  }

  &__card-media {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__card-title {
    font-size: ms(0);
    line-height: 1.3em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.25rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 0.75rem;
    }
  }

  &__card-desc {
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__slider-progressbar {
    margin-top: 0.75rem;

    @media (min-width: $screen-md) {
      display: none;
    }
  }
}