.certificates {
  @include section;
  background-color: $bg-c--shade;
  color: $text-c;
  overflow: hidden;

  &__container {
    @include container;
  }

  &__subtitle {
    @include subtitle;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }

  &__item {
    display: block;
    position: relative;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-progressbar {
    margin-top: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-top: 2.25rem;
    }
  }
}