mixin burger(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' burger--' + modsList[i].trim();
      }
    }

  button.burger(class=allMods)&attributes(attributes)
    svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 32 16', width='32', height='16')
      path(stroke='#1F2724', stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 1h30')
      path(stroke='#1F2724', stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 8h30')
      path(stroke='#1F2724', stroke-linecap='round', stroke-linejoin='round', stroke-width='1.5', d='M1 15h30')
