@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/cera-pro-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/cera-pro-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('../fonts/cera-pro-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}