// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-c: #1f2724;
$text-c--light: #fff;

$bg-c: #fff;
$bg-c--shade: #f7f7f7;
$bg-c--dark: $text-c;

$primary-c: #5Ba84a;

$accent-g: linear-gradient(90deg, #1f7c34 0%, #5fa92b 100%);

// Semantic colors
$success-c: #16c98d;
$warning-c: #ffc83f;
$danger-c: #fa5e5b;

// Fonts
$font-f: 'Cera Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$font-f--monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

// Misc
$border-c: rgba($text-c, 0.125);
$border-r: 4px;
$transition-t: cubic-bezier(0.15, 0.85, 0.45, 1);

@mixin section {
  padding: 2.25rem 1rem;

  @media (min-width: $screen-sm) {
    padding: 4.5rem 1.5rem;
  }
}

@mixin container {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

@mixin subtitle {
  font-size: ms(-2);
  font-weight: 700;
  line-height: 1.45em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  margin-bottom: 0.75rem;

  @media (min-width: $screen-sm) {
    margin-bottom: 1.5rem;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 1rem);
    width: 2.5rem;
    height: 1px;
    background: $accent-g;
    transform: translateY(-50%);
  }
}

@mixin title {
  font-size: ms(1);
  line-height: 1.3em;
  font-weight: 500;
  margin-top: 0;
  max-width: 25ch;

  @media (min-width: $screen-sm) {
    font-size: ms(2);
    line-height: 1.1em;
    letter-spacing: -0.01em;
  }
}

@mixin text {
  font-size: 0.8em;
  line-height: 1.5em;

  @media (min-width: $screen-sm) {
    line-height: 1.7em;
  }
}
