mixin field-search(props)

  -
    if (typeof(props) === 'undefined') {
      var props = {};
    }

    var allMods = '';
    if (typeof(props.mods) !== 'undefined' && props.mods) {
      var modsList = props.mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' field-search--' + modsList[i].trim();
      }
    }

  label.field-search(class=allMods)&attributes(attributes)
    input.field-search__input(type=(typeof(props.attrs) !== 'undefined' && props.attrs.type) ? props.attrs.type : 'search', value=props.val)&attributes(props.attrs)


