.special-offers {
  @include section;
  overflow: hidden;

  &__container {
    @include container;
  }

  &__title {
    @include title;
    margin-bottom: 1.5rem;
  }

  &__slider {}

  &__slider-progressbar {
    margin-top: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-top: 2.25rem;
    }
  }
}