.product {
  padding: 1rem 1rem 2.25rem;

  @media (min-width: $screen-sm) {
    padding: 1.5rem 1.5rem 3rem;
  }

  @media (min-width: $screen-md) {
    padding: 2.5rem 1.5rem 4.5rem;
  }

  &__container {
    @include container;
  }

  &__content {

    @media (min-width: $screen-md) {
      display: grid;
      gap: 2rem;
      grid-template: 'gallery info' / 7fr 5fr;
    }

    @media (min-width: $screen-lg) {
      display: grid;
      gap: 2rem;
      grid-template: 'gallery . info' / 6fr 1fr 5fr;
    }
  }

  &__gallery {
    position: relative;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-md) {
      display: grid;
      grid-area: gallery;
      grid-template: 'thumbs main' / auto 1fr;
      height: 460px;
      gap: 2rem;
      margin-bottom: 0;
    }
  }

  &__gallery-thumbs {
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      grid-area: thumbs;
    }
  }

  &__gallery-thumbs-slide {
    position: relative;
    width: 2.5rem;
    height: auto;
    cursor: pointer;
    opacity: 0.5;
    transition: 250ms $transition-t;

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &.swiper-slide-thumb-active {
      opacity: 1;
    }
  }

  &__gallery-main {
    position: relative;
    z-index: 1;
    width: 100%;

    @media (min-width: $screen-md) {
      grid-area: main;
    }
  }

  &__gallery-main-slide {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__gallery-progressbar-wrap {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);

    @media (min-width: $screen-md) {
      bottom: 0;
      left: calc(2.5rem + 1rem);
      width: 1px;
      height: 100%;

      .product__gallery-progressbar {
        height: 100%;
      }
    }
  }

  &__info {
    grid-area: info;
    align-self: center
  }

  &__title {
    font-size: ms(1);
    line-height: 1.3em;
    font-weight: 500;
    margin-top: 0;
    max-width: 25ch;
    margin-bottom: 0.25rem;
  }

  &__price {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-md) {
      margin-bottom: 2.25rem;
    }
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 0.75rem;
    opacity: 0.75;
    position: relative;
    padding-top: 0.75rem;

    &::before {
      position: absolute;
      content: '';
      bottom: 100%;
      left: 0;
      width: 3rem;
      height: 1px;
      background: $accent-g;
    }
  }

  &__features {
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__features-title {
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-weight: 500;
  }

  &__features-list {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
  }

  &__feature-term {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 500;
    vertical-align: top;

    &::after {
      content: ': ';
    }
  }

  &__feature-desc {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 400;
    vertical-align: top;
  }

  &__tabs {
    margin-top: 2.25rem;

    @media (min-width: $screen-sm) {
      margin-top: 3rem;
    }
  }

  &__tabs-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    border-bottom: 1px solid #e3e4e4;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  &__tabs-nav-item {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__tabs-nav-link {
    display: block;
    padding: 0.5rem 0;
    border: none;
    border-radius: 0;
    color: rgba($text-c, 0.5);
    position: relative;
    outline: none;
    text-decoration: none;

    &::after {
      position: absolute;
      content: '';
      top: 100%;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e3e4e4;
    }

    &--active {
      color: $primary-c;

      &::after {
        background-color: $primary-c;
      }
    }
  }

  &__tabs-content-wrap {
    padding-top: 1.5rem;
    @include text;
  }

  &__tabs-content {

    @at-root .js-tabs & {
      display: none;

      &--active {
        display: block;
      }
    }
  }
}
