.get-a-call-modal {

  &__title {
    max-width: 30ch;
    margin-top: 0;
    margin-bottom: 0.75rem;
    font-size: ms(1);
    font-weight: 500;
    line-height: 1.1em;
    letter-spacing: -0.01em;
  }

  &__desc {
    margin-bottom: 1.5rem;
    font-size: ms(-1);
    line-height: 1.45em;
  }
}
